/* 
屬性格式順序 :
    排版定位
    邊界大小
    邊框設定
    背景顏色
    文字屬性
 */
 .carousel{
    position: relative
}
.carousel-indicators {
    position: absolute;     /* 絕對距離定位 */
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.ad-title{
	color: #624CAB;
	text-align: center;
	font-weight: bold;
}
.ad-radius{
    border-radius: 50px;
}
.item{
    position: relative;     /* (與原位置)相對距離定位 */
    display: none;
    -webkit-transition:.6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition:.6s ease-in-out left;
    height: 100%;
}