/* 
屬性格式順序 :
    排版定位
    邊界大小
    邊框設定
	文字樣式
    背景顏色
 */
.merchandise-form{

}
/* 
屬性格式順序 :
    排版定位
    邊界大小
    邊框設定
	文字樣式
    背景顏色
 */
 .shelves-title{
	color: #624CAB;
	text-align: center;
	font-weight: bold;
}
.shelves{
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
    width: 90%;
	margin: 10px auto;
	padding: 20px 20px;
	border: 5px solid #7189FF;
	border-radius: 50px;
	background-color: whitesmoke;
}
.shelves li{
	margin-top: 10px;
	margin-bottom: 10px;
}
.commodity{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
    margin: auto auto;
	width: 200px;
	border-radius: 25px;
	background-color:rgb(223, 230, 235) ;
}
.commodity img{
	width: 80%;
	border-radius: 20px;
	margin-top: 20px;
}
.commodity h2{
	margin-top: 10px;
	margin-bottom: 10px;
	color: #3862cd;
	font-size: 25px;
	font-weight: bold;
}
.commodity span{
	margin-right: 10px;
	color: #60ccff;
	font-size: 20px;
	font-weight: bold;
}
.block-talk{
    width: 80%;
    text-align: left;
    margin: auto auto;
    background-color: rgb(223, 230, 235);
    border-radius: 10px;
}
.price-haves{
	display: flex;
	align-items: center;
	justify-content:space-around;
	margin-bottom: 10px;
}
.rating {
    font-size: 0;
    display: table;
}
.rating > label {
    color: #ddd;
    float: right;
}
.rating > label:before {
   padding: 5px;
   font-size: 30px;
   line-height: 1em;
   display: inline-block;
   content: "★";
}
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ffd900;
}
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    opacity: 0.5;
}
.upitem{
    background-color:aliceblue;
    width:60%;
    height:auto; 
    margin:10px 0px 0px 20%;
    padding-bottom: 10px;
}
.talk{
    background-color: #bcc5f4;
    width:90%;
    height:auto; 
    margin:10px 40px 10px 40px;
    border-radius:10px;
    padding: 10px;
    float: left;
}
.commit{
    margin: 0% 0% 0% 35%;
    margin-left:2%;
    width: 95%;
}